{{#each this}}
<li class="state__oneItem">
  <div class="state">
    <h1 class="state__name">{{name}}</h1>
    <div class="state__info">
        <div class="capital__info">
            <h2 class="capital">Capital:</h2>
            <h2 class="capital__name">{{capital}}</h2>
        </div>
        <div class="population__info">
            <h2 class="population">Population:</h2>
            <h2 class="population__number">{{population}}</h2>
        </div>
        
        <h2 class="language-list">Languages:
        {{#each languages}}
        <li class="lang-list__item">{{this.name}}</li>
        {{/each}}
        </h2>
        
      
    </div>

    
  </div>
       <img
         src="{{flag}}"
         alt="{{name}}"
         class="state__flagimage"
         />
</li>
{{/each}}